In [26]:
# import libraries we will use
import warnings
warnings.filterwarnings('ignore')

# matplotlib for plotting
from matplotlib import pyplot as plt
import matplotlib
# matplotlib.style.use('ggplot')
%matplotlib inline

# seaborn for plotting
# import seaborn as sns

# pandas for dataframes
import pandas as pd
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

# numpy for linear algebra
import numpy as np

# sklearn for machine learning libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [27]:
processed=pd.read_csv('./data.csv')

In [28]:
# del processed['Embarked']
processed.head(5)

,processed_new.passengerid,processed_new.sex,processed_new.age,processed_new.fare,processed_new.embarked,processed_new.pclass_1,processed_new.pclass_2,processed_new.pclass_3,processed_new.singleton,processed_new.smallfamily
0,1,1,22.0,7.2500,S,0,0,1,0,1
1,2,0,38.0,71.2833,C,1,0,0,0,1
2,3,0,26.0,7.9250,S,0,0,1,1,0
3,4,0,35.0,53.1000,S,1,0,0,0,1
4,5,1,35.0,8.0500,S,0,0,1,1,0

In [29]:
processed=processed.drop('processed_new.embarked',axis=1)

In [30]:
processed.head(5)

,processed_new.passengerid,processed_new.sex,processed_new.age,processed_new.fare,processed_new.pclass_1,processed_new.pclass_2,processed_new.pclass_3,processed_new.singleton,processed_new.smallfamily
0,1,1,22.0,7.2500,0,0,1,0,1
1,2,0,38.0,71.2833,1,0,0,0,1
2,3,0,26.0,7.9250,0,0,1,1,0
3,4,0,35.0,53.1000,1,0,0,0,1
4,5,1,35.0,8.0500,0,0,1,1,0

In [31]:
train=processed.ix[0:890]

In [32]:
test=processed.ix[891:1298]

In [33]:
targets=pd.read_csv('./train.csv').Survived

In [34]:
data_train=train.values

In [35]:
survived=targets.values

In [36]:
model=SVC(kernel="rbf")

In [37]:
model.fit(data_train,survived)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [38]:
pid_test=test['processed_new.passengerid']

In [39]:
pid_test.shape

(406,)

In [40]:
truth_df=pd.read_csv('./titanic_gound_truth.csv')

In [41]:
ground_truth=truth_df[891:1297]

In [42]:
truth_value=ground_truth['survived']

In [43]:
data_test=test.values

In [44]:
predicted=model.predict(data_test)

In [45]:
predicted.shape

(406,)

In [46]:
output=pd.DataFrame(columns=['PassengerId','Survived'])

In [47]:
output['PassengerId']=pid_test

In [48]:
output.shape

(406, 2)

In [49]:
output['Survived']=predicted.astype(int)

In [50]:
accuracy_score(truth_value,output.Survived)

0.74137931034482762