In [169]:
# import libraries we will use
import warnings
warnings.filterwarnings('ignore')

# matplotlib for plotting
from matplotlib import pyplot as plt
import matplotlib
# matplotlib.style.use('ggplot')
%matplotlib inline

# seaborn for plotting
# import seaborn as sns

# pandas for dataframes
import pandas as pd
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

# numpy for linear algebra
import numpy as np

# sklearn for machine learning libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

In [170]:
processed=pd.read_csv('./data.csv')

In [171]:
# del processed['Embarked']
processed.head(5)

,processed_new.passengerid,processed_new.sex,processed_new.age,processed_new.fare,processed_new.embarked,processed_new.pclass_1,processed_new.pclass_2,processed_new.pclass_3,processed_new.singleton,processed_new.smallfamily
0,1,1,22.0,7.2500,S,0,0,1,0,1
1,2,0,38.0,71.2833,C,1,0,0,0,1
2,3,0,26.0,7.9250,S,0,0,1,1,0
3,4,0,35.0,53.1000,S,1,0,0,0,1
4,5,1,35.0,8.0500,S,0,0,1,1,0

In [172]:
processed=processed.drop('processed_new.embarked',axis=1)

In [173]:
test_new=processed.ix[891:1298]

pid_test=test_new['processed_new.passengerid']

In [174]:
processed=processed.drop('processed_new.passengerid',axis=1)

In [175]:
processed.head(5)

,processed_new.sex,processed_new.age,processed_new.fare,processed_new.pclass_1,processed_new.pclass_2,processed_new.pclass_3,processed_new.singleton,processed_new.smallfamily
0,1,22.0,7.2500,0,0,1,0,1
1,0,38.0,71.2833,1,0,0,0,1
2,0,26.0,7.9250,0,0,1,1,0
3,0,35.0,53.1000,1,0,0,0,1
4,1,35.0,8.0500,0,0,1,1,0

In [176]:
train=processed.ix[0:890]

In [177]:
test=processed.ix[891:1298]

In [178]:
targets=pd.read_csv('./train.csv').Survived

In [179]:
data_train=train.values

In [180]:
survived=targets.values

In [181]:
model=SVC(kernel="rbf")

In [182]:
model.fit(data_train,survived)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [183]:
# pid_test=test['processed_new.passengerid']

In [184]:
pid_test.shape

(406,)

In [185]:
truth_df=pd.read_csv('./titanic_gound_truth.csv')

In [186]:
ground_truth=truth_df[891:1297]

In [187]:
truth_value=ground_truth['survived']

In [188]:
data_test=test.values

In [189]:
predicted=model.predict(data_test)

In [190]:
predicted.shape

(406,)

In [191]:
output=pd.DataFrame(columns=['PassengerId','Survived'])

In [192]:
output['PassengerId']=pid_test

In [193]:
output.shape

(406, 2)

In [194]:
output['Survived']=predicted.astype(int)

In [195]:
accuracy_score(truth_value,output.Survived)

0.67733990147783252

In [196]:
print(output.head(20))

     PassengerId  Survived
891          900         0
892          901         0
893          902         0
894          903         0
895          904         1
896          905         0
897          906         0
898          907         0
899          908         0
900          910         0
901          911         0
902          912         0
903          913         0
904          914         0
905          915         0
906          916         0
907          917         0
908          918         1
909          919         0
910          920         1