In [58]:
# import libraries we will use
import warnings
warnings.filterwarnings('ignore')

# matplotlib for plotting
from matplotlib import pyplot as plt
import matplotlib
# matplotlib.style.use('ggplot')
%matplotlib inline

# seaborn for plotting
# import seaborn as sns

# pandas for dataframes
import pandas as pd
pd.options.display.max_columns = 100
pd.options.display.max_rows = 100

# numpy for linear algebra
import numpy as np

# sklearn for machine learning libraries
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn import datasets, linear_model
from sklearn.linear_model import SGDClassifier

In [59]:
processed=pd.read_csv('./data.csv')

In [60]:
# del processed['Embarked']
processed.head(5)

,processed_new.passengerid,processed_new.sex,processed_new.age,processed_new.fare,processed_new.embarked,processed_new.pclass_1,processed_new.pclass_2,processed_new.pclass_3,processed_new.singleton,processed_new.smallfamily
0,1,1,22.0,7.2500,S,0,0,1,0,1
1,2,0,38.0,71.2833,C,1,0,0,0,1
2,3,0,26.0,7.9250,S,0,0,1,1,0
3,4,0,35.0,53.1000,S,1,0,0,0,1
4,5,1,35.0,8.0500,S,0,0,1,1,0

In [61]:
processed=processed.drop('processed_new.embarked',axis=1)

In [62]:
test_new=processed.ix[891:1298]

pid_test=test_new['processed_new.passengerid']

In [63]:
processed=processed.drop('processed_new.passengerid',axis=1)

In [64]:
processed.head(5)

,processed_new.sex,processed_new.age,processed_new.fare,processed_new.pclass_1,processed_new.pclass_2,processed_new.pclass_3,processed_new.singleton,processed_new.smallfamily
0,1,22.0,7.2500,0,0,1,0,1
1,0,38.0,71.2833,1,0,0,0,1
2,0,26.0,7.9250,0,0,1,1,0
3,0,35.0,53.1000,1,0,0,0,1
4,1,35.0,8.0500,0,0,1,1,0

In [65]:
train=processed.ix[0:890]

In [66]:
test=processed.ix[891:1298]

In [67]:
targets=pd.read_csv('./train.csv').Survived

In [68]:
data_train=train.values

In [69]:
survived=targets.values

In [70]:
model=SVC(kernel="rbf")

In [71]:
model.fit(data_train,survived)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [72]:
# pid_test=test['processed_new.passengerid']

In [73]:
pid_test.shape

(406,)

In [74]:
truth_df=pd.read_csv('./titanic_gound_truth.csv')

In [75]:
ground_truth=truth_df[891:1297]

In [76]:
truth_value=ground_truth['survived']

In [77]:
data_test=test.values

In [78]:
predicted=model.predict(data_test)

In [79]:
predicted.shape

(406,)

In [80]:
output=pd.DataFrame(columns=['PassengerId','Survived'])

In [81]:
output['PassengerId']=pid_test

In [82]:
output.shape

(406, 2)

In [83]:
output['Survived']=predicted.astype(int)

In [84]:
accuracy_score(truth_value,output.Survived)

0.67733990147783252

In [85]:
print(classification_report(truth_value,predicted.astype(int)))

             precision    recall  f1-score   support

          0       0.74      0.88      0.80       301
          1       0.22      0.10      0.13       105

avg / total       0.60      0.68      0.63       406

In [86]:
print(output.head(20))

     PassengerId  Survived
891          900         0
892          901         0
893          902         0
894          903         0
895          904         1
896          905         0
897          906         0
898          907         0
899          908         0
900          910         0
901          911         0
902          912         0
903          913         0
904          914         0
905          915         0
906          916         0
907          917         0
908          918         1
909          919         0
910          920         1

### Non- Linear model: decision tree

In [87]:
  clf = tree.DecisionTreeClassifier()

In [88]:
clf.fit(data_train,survived)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [89]:
predicted=clf.predict(data_test)

In [90]:
accuracy_score(truth_value,predicted.astype(int))

0.5788177339901478

In [91]:
print(classification_report(truth_value,predicted.astype(int)))

             precision    recall  f1-score   support

          0       0.75      0.65      0.70       301
          1       0.27      0.37      0.31       105

avg / total       0.62      0.58      0.60       406

### Linear Model: Linear Regression

In [92]:
regr = linear_model.LinearRegression()

In [93]:
regr.fit(data_train,survived)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [94]:
predicted=regr.predict(data_test)

In [95]:
accuracy_score(truth_value,predicted.astype(int))

0.74137931034482762

In [96]:
print(classification_report(truth_value,predicted.astype(int)))

             precision    recall  f1-score   support

          0       0.74      1.00      0.85       301
          1       0.00      0.00      0.00       105

avg / total       0.55      0.74      0.63       406

### SGD classifier

In [102]:
sgd= SGDClassifier(loss="hinge", penalty="l2")

In [103]:
sgd.fit(data_train,survived)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', n_iter=5, n_jobs=1,
       penalty='l2', power_t=0.5, random_state=None, shuffle=True,
       verbose=0, warm_start=False)

In [104]:
predicted=sgd.predict(data_test)

In [105]:
accuracy_score(truth_value,predicted.astype(int))

0.59605911330049266

In [106]:
print(classification_report(truth_value,predicted.astype(int)))

             precision    recall  f1-score   support

          0       0.76      0.66      0.71       301
          1       0.30      0.42      0.35       105

avg / total       0.64      0.60      0.61       406